    <div class="standard_list user_list">
      <%= render(partial: 'shared/menubar', locals: {:collection_name => "users", :indexpath => users_path, :newpath => new_user_path(:fid => @family.id), :addimage => "addperson.png", :addtext => t('.addmember')}) %>
      <%= render partial: 'users/user_list' %>
    </div>
