<table id="users">
  <tr class="headers">
    <% @selected_columns.each do |col| %>
      <th class="<%= col %>"><%= header_link(ColumnPreference::AVAILABLE_COLUMNS["users"][col][1], "users", "index", col) %></th>
    <% end %>
    <th class="editdelete"><a href="#" class="column_header"></a></th>
    <th class="editdelete"><a href="#" class="column_header"></a></th>
  </tr>
  <%= render(@users) %>
</table>
