<div class="left_menu_list">
  <ul>
    <li class="section_title">
      <h3><%= t('common.chooseaction') %></h3>
    </li>
    <% left_menu.each do |menu_link| %>
    <li class="<%= cycle('list_line_odd', 'list_line_even') %>">
      <%= link_to(t(menu_link[3]), url_for(controller: menu_link[0], action: menu_link[1])) %>
    </li>
    <% end %>
    <li class="bottom"></li>
  </ul>
</div>
<%= helpful_information(help_text) unless help_text.nil? %>
