<div class="left_menu_list">
  <ul>
    <li class="section_title">
      <h3><%= t('common.chooseaction') %></h3>
    </li>
    <% left_menu.each do |menu_link| %>
    <li class="<%= cycle('list_line_odd', 'list_line_even') %>">
      <%= link_to(menu_link[0], menu_link[1]) %>
    </li>
    <% end %>
    <li class="bottom"></li>
  </ul>
</div>