<% current_menu.each do |category, menu_items| %>
<ul id="menubar">
  <li>
    <%= link_to image_tag(Privilege::CATEGORIES[category][0]) << content_tag("span",Privilege::CATEGORIES[category][1]), link_for_privilege(menu_items[0][0]) %>
  </li>
  <li>
    <%= display_submenus_ul(menu_items) do %>
      <% menu_items.each do |submenu| %>
        <li><%= submenu_link(submenu) %></li>
      <% end %>
    <% end %>
  </li>
</ul>
<% end %>
