<% menu.each do |category, menu_items| %>
<ul id="menubar">
  <li>
    <%= link_to image_tag(Privilege::CATEGORIES[category][0]) << content_tag("span",Privilege::CATEGORIES[category][1]), link_for_privilege(menu_items[0][0]) %>
  </li>
  <li>
    <%= hide_ul_if(menu_items, id: 'submenu') do %>
      <%= render(partial: 'shared/submenus', collection: menu_items, :locals => {:active_action => active_action}) %>
    <% end %>
  </li>
</ul>
<% end %>
