  <li><a href="#" title="Schedule" class="current"><span>Schedule</span></a></li>
  <li><a href="#" title="Registrations"><span>Registrations</span></a></li>
  <li><a href="#" title="Employees"><span>Employees</span></a></li>
  <li><a href="#" title="Payments"><span>Payments</span></a></li>
