  <li><%= link_to content_tag("span", submenus.menu_text), { :controller => submenus.controller }, :title => submenus.menu_text, :class => (controller_name == submenus.controller)? "current" : "" %></li>
