<% @page_title = t('.manageroles') %>
<p id="notice"><%= notice %></p>

<div class="standard_list role_list">
  <%= render(partial: 'shared/menubar', locals: {:indexpath => roles_path, :newpath => new_role_path, :addimage => "addperson.png", :addtext => t('.addrole')}) %>
  <%= render 'role_list' %>
</div>
