<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @default_role.name %>
</p>


<%= link_to 'Edit', edit_admin_default_role_path(@default_role) %> |
<%= link_to 'Back', admin_default_roles_path %>
