// Place all the styles related to the Accounts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.accounts {
  .standard_list {
    table {
        width: 630px;
        td {
          width: 630px;
        }
    }
  }

  margin: 0;
  p {
      margin: 10px;
    }
 

  .genericmessage {
      margin-top: 32px;
      margin-bottom: 32px;
      margin-left: 46px;
      margin-right: 46px;
  }

  .pricingoptions {
      width: 500px;
      margin: 0 auto;

      ul {
        list-style:none;
        margin: 0;
        padding: 0;

        a {
          font-weight: bold;
        }
        p {
          margin-bottom: 18px;
          margin-top:0px;
          color: #636B75;
        }
      }
  }
  
  .standard_form {
    input[type="submit"] {margin-left: 10px; margin-bottom: 10px;}
    li{
      min-height:40px;
      // The following is for Account Settings
      p.largeindent {margin-left: 225px; margin-top:0px; margin-bottom: 5px;}

      .creditexpmonth {
        width:60px;;
      }
      .creditexpyear {
        width:100px;;
      }

      h3 {margin-left:50px}
      
      .submit {
        display:inline-block;
      }

      .inline_link {
        line-height:20px;
        margin:5px;
        padding:5px;
        width: 60px;
        display:inline-block;
      }
      
      .inline {
        margin-left:10px;
        margin-right: 10px;
        display:inline-block;
      }
      span {
        line-height:40px;
      }
    }
    .bottom {
      min-height:0px;
    }
  }
}
