/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

body {
  margin:0;
  font-size: 100%;
  font-family: Trebuchet MS, Helvetica, Calibri, Tahoma, Verdana, Arial;
  background-color:#E7F1FD;
}

a {
  color: #2173AF;
  text-decoration: none;
  &:hover {text-decoration: underline; cursor:pointer;}
}

#errorExplanation {
    margin-top: 32px;
    margin-bottom: 32px;
    margin-left: 64px;
    margin-right: 64px;
}

#topbar {
  background-image: image_url("bg_topbar.png");
  background-repeat:repeat-x;
  height:55px;
  margin: 0;

  img {
    padding:2px 2px 2px 100px;
  }
  h2 {
    width: 200px;
    margin: 0;
    line-height:55px;
    vertical-align:top;
    display:inline-block;
    a {color: #9BBA41;}

    img {margin: 0; padding: 0; 
    }
  }

  ul {
    height:55px;
    list-style:none;
    margin:0 auto;
    display:inline-block;
    float:right;

    li {
      float:left;
      padding-left:20px;
      padding-top:20px;
      padding-right:20px;
      padding-bottom:20px;

      a {
        color:white;
        &:hover {
          color:#2173AF;
        }
      }
    }
  }
}

#banner_no_screenshot {
  background-color:#15428B;
  height:125px;
    
    h1 {
    margin-left: 125px;
    margin-top: 0;
    margin-bottom: 0;
    padding-top:40px;
    width: 500px;
    font-size: 32px;
    color: white;
  }

}

#banner {
  background: #15428B;
  padding: 10px;
  padding-top:5px;
  font-size: 1.5em;
  color: white;
  text-align: left;
  height: 90px;
  border-bottom: 1px solid #dcdce9;

  img {
    float: right;
    margin-right:10px;
    margin-top:18px;
  }
}

#menubar {
  list-style:none;
  margin:0;
  margin-top:10px;
  padding:0;

  li {
    float:left;
    margin: 0;
    height:55px;

    a {
      background-position:left;
      width:auto;
      min-height:45px;
      color:white;
      font-size: 16px;
      font-weight:bold;
      padding-left:10px;
      padding-right:10px;
      line-height:45px;
      text-decoration:none;
      margin-top:5px;
      margin-bottom:5px;
      margin-right:0px;
      margin-left:10px;
      border:1px groove #01427C;
      vertical-align:middle;
      text-align:right;
      border-radius:5px;
      //background:-webkit-linear-gradient(top,#0C60A9,#003A76 85%);
      background:-webkit-gradient(linear, left top, left bottom, from(#0C60A9), to(#003A76));
      box-shadow: 0 2px 3px rgba(0,0,0,0.4);
      display:block;
      &:hover {
          background:-webkit-gradient(linear, left top, left bottom, from(#166AB3), to(#002A66));
          box-shadow: 0 2px 3px rgba(0,0,0,0.5);
      }
      &:active {
        background:-webkit-gradient(linear, left top, left bottom, from(#04376C), to(#064276));
        //background:-webkit-linear-gradient(top, #04376C, #064276 85%);
        //background:-moz-linear-gradient(top, #04376C, #064276 85%);
        //background:-ms-linear-gradient(top, #04376C, #064276 85%);
        box-shadow: inset 0px 1px 2px #666;
        -webkit-box-shadow: inset 0px 1px 2px #666;
        color:white;
        cursor:pointer;
      }
      img {width:31px; height:31px; margin-top:7px;float:left;};
      span {margin-right:10px;}
    }

    img {margin:0;margin-top:12px;}

    ul {
      margin-top: 12px;
      margin-bottom: 0;
      margin-right: 0;
      margin-left: 0;
      padding:0;
      padding-right:6px;
      list-style: none;
      background-image: image_url("bg_submenu_rt.png");
      background-repeat: no-repeat;
      background-position: right;
      float: left;
      clear: left;
      height:34px;
      border-radius:5px;

      li {
        float: left;
        display: inline; /*For ignore double margin in IE6*/
        padding-left: 10px;
        height:34px;
        background-image: image_url("bg_submenu.png");
        background-repeat: repeat-x;

        a {
          background-position:left;
          width:auto;
          min-height:24px;
          color:black;
          font-weight:normal;
          padding-left:10px;
          padding-right:10px;
          line-height:24px;
          text-decoration:none;
          margin-top:4px;
          margin-bottom:4px;
          margin-right:0px;
          margin-left:0px;
          border:1px groove #C3C4BB;
          vertical-align:middle;
          text-align:right;
          border-radius:5px;
          background:-webkit-gradient(linear, left top, left bottom, from(#F5F5F5), to(#DBDBDB));
          box-shadow: 0 2px 3px rgba(0,0,0,0.4);
          display:block;
          vertical-align:middle;
          &:hover {
          background:-webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#CBCBCB));
          box-shadow: 0 2px 3px rgba(0,0,0,0.5);
          }
          &:active {
            background:-webkit-gradient(linear, left top, left bottom, from(#DBDBDB), to(#F5F5F5));
            //background:-moz-linear-gradient(top, #E6E6E6, white 85%);
            //background:-ms-linear-gradient(top, #E6E6E6, white 85%);
            box-shadow: inset 0px 1px 2px #666;
            -webkit-box-shadow: inset 0px 1px 2px #666;
            color:black;
            cursor:pointer;
            text-decoration:none;
          }

        }
        .current {
          background:-webkit-gradient(linear, left top, left bottom, from(#415544), to(#45AF7A));
          //background:-webkit-linear-gradient(top, #415544, #45AF7A 85%);
          //background:-moz-linear-gradient(top, #415544, #45AF7A 85%);
          //background:-ms-linear-gradient(top, #415544, #45AF7A 85%);
          box-shadow: inset 0px 1px 2px #666;
          -webkit-box-shadow: inset 0px 1px 2px #666;
          color:white;
          cursor:pointer;
          text-decoration:none;
          &:hover {
          background:-webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#CBCBCB));
          color:black;
          box-shadow: 0 2px 3px rgba(0,0,0,0.5);
          }
          &:active {
            background:-webkit-gradient(linear, left top, left bottom, from(#DBDBDB), to(#F5F5F5));
            //background:-moz-linear-gradient(top, #E6E6E6, white 85%);
            //background:-ms-linear-gradient(top, #E6E6E6, white 85%);
            box-shadow: inset 0px 1px 2px #666;
            -webkit-box-shadow: inset 0px 1px 2px #666;
            color:black;
            cursor:pointer;
            text-decoration:none;
          }
        }
      }
    }
  }
} 

#main {
  clear:both;
}

#breadcrumbs {margin:5px;margin-left:10px;}

.standard_form {
  margin: 0 auto;
  padding: 0;

  ul{
    margin: 0 auto;
    margin-top:32px;
    padding:0;
    border-radius:16px;
    border: 1px solid #C1CAD5;
    list-style:none;
    width:600px;
    background-color:#E3E9F2;

    .form_header {
      background-color:transparent;
      border-bottom: 1px solid #C1CAD5;
      height:60px;

      h2 {
        color:#0350A6;
        margin-top:6px;
        font-weight:bold;
        margin-left:48px;
        margin-bottom: 0;
      }

      p {margin: 0; margin-left:48px;}
    }

    li {
      background-color:#F1F7FE;
      border-bottom: 1px solid #C1CAD5;
      border-top: 1px solid #F3F6F9;
      padding:8px;
      margin:0;

      label {
        line-height:20px;
        margin: 8px;
        padding:5px;
        font-weight: bold;
        display:block;
        float:left;
        width: 200px;
        text-align:right;
        margin-right:10px;

      }

      textarea {
        border: 1px solid #8D9095;
        border-radius:1px;
        color:#29384C;
        font-size:16px;
        padding: 5px;
        background-color:white;
        background-image: image_url("bg_inputs.png");
        background-repeat: repeat-x;
        margin: 8px;
        margin-left:0;
      }
      
      input[type="text"],input[type="password"] {
        height:20px;
        border: 1px solid #8D9095;
        border-radius:1px;
        color:#29384C;
        font-size:16px;
        padding: 5px;
        background-color:white;
        background-image: image_url("bg_inputs.png");
        margin: 8px;
        margin-left:0;
      }

      input[type="checkbox"] {
        font-size:16px;
        margin: 13px;
        margin-left:0;
        vertical-align:middle;
      }
      
      input[type="checkbox"].checkbox_group {
          margin-right:0px;
          margin-left:5px;
        }

      select {
        width:250px;
        height:20px;
        line-height:20px;
        border: 1px solid #8D9095;
        border-radius:1px;
        color:#29384C;
        font-size:16px;
        padding:5px;
        background-color:white;
        background-image: image_url("bg_inputs.png");
        margin:8px;
        margin-left:0;
      }

      input[type="image"] {
        margin-left:228px;
        font-size:16px;
      }

      input[type="submit"] {
        width:auto;
        min-width:120px;
        min-height:31px;
        color:#E7FFFF;
        font-size:16px;
        font-weight:bold;
        padding-left:10px;
        padding-right:10px;
        line-height:31px;
        text-decoration:none;
        margin-top:5px;
        margin-bottom:5px;
        margin-right:10px;
        margin-left:10px;
        border:1px solid #C3C4BB;
        text-align:left;
        vertical-align:middle;
        border-radius:5px;
        background:-webkit-gradient(linear, left top, left bottom, from(#5CC2FF), to(#3BA9F8));
        //background:-webkit-linear-gradient(top,#5CC2FF,#3BA9F8 45%);
        box-shadow: 0 2px 3px rgba(0,0,0,0.4);
        display:block;
        &:hover {
          background:-webkit-gradient(linear, left top, left bottom, from(#66CCFF), to(#2B99E8));
          //background:-webkit-linear-gradient(top,#5CC2FF,#3BA9F8 65%);
          box-shadow: 0 2px 3px rgba(0,0,0,0.5);
        }
        &:active {
          background:-webkit-gradient(linear, left top, left bottom, from(#3BA9F8), to(#5CC2FF));
          //background:-webkit-linear-gradient(top, #3BA9F8, #5CC2FF 45%);
          //background:-moz-linear-gradient(top, #3BA9F8, #5CC2FF 45%);
          //background:-ms-linear-gradient(top, #3BA9F8, #5CC2FF 45%);
          box-shadow: inset 0px 1px 2px #666;
          -webkit-box-shadow: inset 0px 1px 2px #666;
          color:#515151;
          cursor:pointer;
        }

      }

      a {
        display:block;
      }

    }
    li.bottom {height:5px; background-color:transparent;border:0;}
    
    p {
      font-size: 0.9em;
      color: #636B75;
      display:block;
      margin-left:50px;
      margin-right:50px;
    }

    .rightjustify {
      text-align:right;
    }

    .indent {
      margin:0;
      margin-left:50px;
    }

  }

}

.wide_form {
  ul {width:700px;}
}

.button {
    width:auto;
    min-width:120px;
    min-height:31px;
    color:black;
    padding-left:10px;
    padding-right:10px;
    line-height:31px;
    text-decoration:none;
    margin-top:5px;
    margin-bottom:5px;
    margin-right:10px;
    margin-left:10px;
    border:1px solid #DBDBDB;
    text-align:left;
    vertical-align:middle;
    border-radius:5px;
    background:-webkit-gradient(linear, left top, left bottom, from(#F5F5F5), to(#DBDBDB));
    //background:-moz-linear-gradient(top, #F5F5F5, #DBDBDB) repeat scroll 0 0 transparent;
    box-shadow: 0 2px 3px rgba(0,0,0,0.4);
    //-webkit-box-shadow: 0 2px 3px rgba(0,0,0,0.4);
    text-shadow: white 0px 1px 0px;
    display:block;
    &:hover {
      background:-webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#CBCBCB));
      //background:-webkit-linear-gradient(top, #FFFFFF, #CBCBCB) repeat scroll 0 0 transparent;
      //background:-moz-linear-gradient(top, #FFFFFF, #CBCBCB) repeat scroll 0 0 transparent;
      //background:-ms-linear-gradient(top, #FFFFFF, #CBCBCB) repeat scroll 0 0 transparent;
      box-shadow: 0 2px 3px rgba(0,0,0,0.5);
      //-webkit-box-shadow: 0 2px 3px rgba(0,0,0,0.5);
      color:black;
      cursor:pointer;
      text-decoration:none;
    }
    &:active {
      background:-webkit-gradient(linear, left top, left bottom, from(#CBCBCB), to(#F5F5F5));
      box-shadow: 0 1px 3px #C1C1C1 inset;
      color: #515151;
    }
    img {width:31px; height:31px; float:left;};
    span {margin-left:10px;}
}

.standard_list {
  margin: 0 auto;
  margin-top:30px;
  padding: 0;
  border-radius:10px;
  border: 1px solid #C1CAD5;
  background-color:#E3E9F2;

  table {
    border-collapse: collapse;
    margin-left:10px;
    margin-right:10px;
    margin-bottom:10px;
  }

  tr.toolbar {
    background-color:transparent;
    border-bottom: 1px solid #C1CAD4;
    height:60px;
    td {border:0;
    }
  }

  tr.headers {
    background-color:#F1F7FE;
    border: 1px solid #C1CAD4;
    border-left:0;
    th {
      border-right: 1px solid #C1CAD4;
      padding:5px;
      margin:8px;
      margin-left:0
    }
  }

  tr.list_line_even {
    background-color:white;
  }
  tr.list_line_odd {
    background-color:#EDF5FF;
  }
  td {
    border: 1px solid #C1CAD4;
    border-left:0;
    padding:5px;
    margin:8px;
    margin-left:0
  }
}

