.content {

  margin: 0;
  background-color:white;

  .banner_with_screenshot {
    background-image: image_url("screenbar.jpg");
    background-repeat:no-repeat;
    margin: 0 auto;
    width: 1440px;
    height:365px;


    h1 {
      margin-left: 125px;
      margin-top: 0;
      margin-bottom: 0;
      padding-top:30px;
      width: 500px;
      font-size: 1.65em;
      color: white;
    }
    h3 {
      margin-left: 125px;
      margin-top: 0;
      margin-bottom: 0;
      padding-top:20px;
      width: 500px;
      color: white;
    }
    div {
      margin-top:120px;
      margin-left:100px;

      a {
        padding:10px;
      }
    }
  }

  .lowerhomepage {
    height:352px;
    width: 1440px;
    margin:0 auto;
    background-color:#F1F3F2;
    border: 1px solid #d4d4d4;

    div {
      width:33%;
      border-left: 1px solid #d4d4d4;
      display:block;
      float:left;
      height: 352px;
    }
    
    img {
      margin-left: 10px;
      margin-top: 10px;
      float:left;
    }
    p {
      margin:0;
      line-height:48px;
      padding: 10px;
      font-size:24px;
      display:block;
      float:left;
    }
    ul {
      clear:both;
    }
  }

}
