.menu_items {
  div.menu_item_list {
    width:950px;

    .name {width:200px;}
    .help_text {width:300px;}
    .category {width:100px;}
    .controller {width:100px;}
    .action {width:100px;}
    }
  }
