.menu_items {
  div.menu_item_list {
    width:1000px;

    .name {width:200px; max-width:200px;}
    .help_text {width:270px; max-width:280px;}
    .category {width:100px;}
    .controller {width:100px;}
    .action {width:100px;}
  }
    .horizontal_form {
        ul {
        width: 1000px;
            li.form_header {height:45px;}
            li.bottom {height:5px;}
            li {
                height: 175px;
                label {text-align: left; float:left; display: block;width:260px;}
                input[type="text"] {display: block;}
                fieldset {display: block;border:0;}
            }
            li.form_submit {height: 45px;}
            li.child_fieldset {
                height: 110px;
                padding:0px;
                input[type="text"] {width: 195px; margin:0;}
                div.field_with_errors {
                    input[type="text"] {margin:5px; margin-left:0;width:185px;}
                }
                input[type="checkbox"] {margin-left:30px;height:12px;margin-top:10px;margin-bottom:10px;}
                a, div.remove_child_menu_item {
                    background-position: left;
                    width: auto;
                    color: white;
                    height:30px;
                    font-weight: bold;
                    text-decoration: none;
                    border: 1px groove #01427C;
                    vertical-align: middle;
                    text-align: right;
                    border-radius: 5px;
                    background: -webkit-gradient(linear, left top, left bottom, from(#5CC2FF), to(#3BA9F8));
                    //background:-webkit-linear-gradient(top,#5CC2FF,#3BA9F8 45%);
                    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4);
                    display: block;
                    &:hover {
                        background: -webkit-gradient(linear, left top, left bottom, from(#66CCFF), to(#2B99E8));
                        //background:-webkit-linear-gradient(top,#5CC2FF,#3BA9F8 65%);
                        box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
                        cursor:pointer;
                    }
                    &:active {
                        background: -webkit-gradient(linear, left top, left bottom, from(#3BA9F8), to(#5CC2FF));
                        //background:-webkit-linear-gradient(top, #3BA9F8, #5CC2FF 45%);
                        //background:-moz-linear-gradient(top, #3BA9F8, #5CC2FF 45%);
                        //background:-ms-linear-gradient(top, #3BA9F8, #5CC2FF 45%);
                        box-shadow: inset 0px 1px 2px #666;
                        -webkit-box-shadow: inset 0px 1px 2px #666;
                        color: #515151;
                        cursor: pointer;
                    }
                    img {
                        width: 16px;
                        height: 16px;
                        margin-top: 7px;
                        margin-left: 8px;
                        margin-right:8px;
                    }
                }
            }
        }
    }
}
