// Place all the styles related to the Privileges controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.privileges {
  div.privilege_list {
    width:800px;
  
    .name {width:150px;}
    .description {width:200px;}
    .controller {width:60px;}
    .menutext {width:60px;}
    .editdelete {width:55px;}
  }
}
