// Place all the styles related to the Privileges controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.privileges {
  div.privilege_list {
    width:1000px;
  
    .name {width:200px;}
    .description {width:400px;}
    .controller {width:100px;}
    .category {width:100px;}
    .defaultaction {width:100px;}
    .menutext {width:80px;}
    .editdelete {width:55px;}
  }
}
