// Place all the styles related to the Roles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.roles {
  div.role_list {
    width:290px;
  
    .name {width:200px;}
    .editdelete {width:55px;}
  }

}
