.sessions {
  margin: 0;
  .login_form {
    input[type="submit"] {
      margin-left: 228px;
    }
  }
}
.passwords {
  .standard_form {
    input[type="submit"] {
      margin-left: 140px;
    }
  }
}