// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.users {
  .default_portlet {
    table {
        width: 630px;
        td {
          width: 630px;
        }
    }
  }

  div.user_list {
    width:1141px;
    margin-left: -300px;
    z-index: -100;
  
    .full_name {width:200px;}
    .last_name {width:200px;}
    .middle_name {width:200px;}
    .first_name {width:200px;}
    .email {width:200px;}
    .address {width:200px;}
    .city {width:100px;}
    .state {width:40px;}
    .zip {width:80px;}
    .home_phone {width:125px;}
  }
  div.checkbox_container {
    display:inline-block;
    width: 450px;

    div {float:left}
  }
  #toggle_contact {text-align:center;}
  .ui-state-hover {width: auto;}
}

