<div id="banner_no_screenshot">
  <h1><%= t('.plans') %></h1>
</div>

  <div class="pricingoptions">
    <h2><%= t('.hereareourplans') %></h2>
    <p><%= t('.plansintro') %></p>
    <ul>
      <%= raw(@plans.map {|p| content_tag(:li, link_to(p, new_account_url(:plan => p, :discount => params[:discount]))) << content_tag(:p, p.description)}.join) %>
    </ul>
  </div>


